@charset "utf-8";


.empty-wrap{
    border: 1px solid #C6C6C6;
    background: #F8F8F8;
    border-radius: 12px;
    height: 600px;
    text-align: center;
    img{
        padding-top: 135px;
        padding-bottom: 40px;
    }
    p{
        font-size: 19px;
    }
}